
header{
    background-color: black;
    padding: 10px 15px;
    font-family: "Open Sans", sans-serif;
    position: sticky;
    top: 0;
    
}

header h1{
    display: inline-block;
    width:49%;
    color: white;
}
header nav{
    display: inline-block;
    width: 49%;
    color: white;
    padding-left:100px;

}

header a{
    margin:20px;
    text-decoration: none;
    font-size: 18px;
    color: white;

}
main{
    background:url(img3.jpg);
    background-size: cover;
    background-position: center;
}
.content-wrapper {
    text-align: center;
    color: white;
    padding-top:130px;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    line-height: 70px;
    height: 100vh;

}
.button-1{
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: solid  2px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-right: 20px;
    font-family: "Open Sans", sans-serif;
    

}
.button-2{
    text-align: center;
    text-decoration: none;
    background-color: white;
    border: solid 2px white;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
}



